.DS_Store
.fvm/
.dart_tool/
.packages
.pub/
build/
.worktrees/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/key.properties
android/app/upload-keystore.jks
android/app/*.jks
android/app/*.keystore
