.dart_tool/
.packages
.pub/
build/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
android/key.properties
android/app/upload-keystore.jks
android/app/*.jks
android/app/*.keystore
release/
release.md
